<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">
<div class="jumbotron">
<h1 class="display-4">Usando Boostrap</h1>
<p class="lead"> Ejemplo de Boostrap en Spring</p>
<hr class="my-4">
<p>El siguiente es el cuerpo del documento...</p>
<div class="my-4">
<p>Contenido del documento</p>
</div>
<hr class="my-4">
<div>
<div class="row">
<div class="col-2"></div>
<div class="col-8">
<p>Desarrollo de Aplicaciones Web.</p>
<p>ITSSNP 2022</p>
</div>
<div class="col-2"></div>
</div>
</div>
</div>
</div>

</body>
</html>